<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
    <link rel="stylesheet" href="./CSS/welcome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- Navbar part start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container p-4 bg-light">
            <a href="index.html"><img src="./images/Group.png" alt=""></a>
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item me-5">
                        <a class="nav-link fs-5 fw-bolder" aria-current="page" href="find_alumni.html">Find
                            Alumni</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link fs-5 fw-bolder" aria-current="page" href="Gallary.html">Gallary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-5 fs-5 fw-bolder" aria-current="page" href="event.html">Event</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link me-5 fs-5 fw-bolder" aria-current="page" href="login.html">Login</a>
                    </li>

                    <li class="nav-item">
                        <a href="signup.html"><button type="button"
                                class="btn btn-danger btn-outline-warning fs-5 fw-bolder">Signup</button></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar part end -->

    <div class="container-fluid search">
        <div class="container justify-content-center">
            <div class="row text-center">
                <h1 class="mt-5 fs-1 fw-bolder text-light">Find Alumni Of Your University</h1>
            </div>
            <div class="container searchh mt-5 justify-content-center">
                <form class="d-flex" role="search">
                    <input class="form-control text-dark fs-4 fw-bolder w-75 inputbg" type="search"
                        placeholder="Search alumni, keywords, companies   |   Enter University name"
                        aria-label="Search">
                    <button class="btn btn-outline-success  btns" type="submit"> <i class="fa fa-search"></i></button>
                </form>
            </div><br><br>
            <p class="text-light ps-5 fs-4 fw-bolder">Popular Search</p>
            <div class="d-lg-flex flex-row justify-content-evenly">
                <div class="text-light p-lg-0 p-md-3 p-3">
                    <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor ">Ui Ux Design <i
                            class="fa-solid fa-magnifying-glass ms-3"></i></a>
                </div>
                <div class="text-light p-lg-0 p-md-3 p-3">
                    <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor">Web Development <i
                            class="fa-solid fa-magnifying-glass ms-3"></i></a>
                </div>
                <div class="text-light p-lg-0 p-md-3 p-3">
                    <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor">App Development <i
                            class="fa-solid fa-magnifying-glass ms-3"></i></a>
                </div>
                <div class="text-light p-lg-0 p-md-3 p-3">
                    <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor">BUBT<i
                            class="fa-solid fa-magnifying-glass ms-3"></i></a>
                </div>
                <div class="text-light p-lg-0 p-md-3 p-3">
                    <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor">BUET <i
                            class="fa-solid fa-magnifying-glass ms-3"></i></a>
                </div>
            </div><br><br><br>

        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="container mt-3">
            <div class="d-lg-flex justify-content-around">
                <div class="col-lg-6 col-md-12 col-12 text-center p-5">
                    <img src="./images/Rectangle 11.png" alt="" class="img-fluid w-lg-100 w-md-100 w-100">
                </div>
                <div class="col-lg-6 col-md-12 col-12 mt-5 pt-5">
                    <h1 class="text-dark fs-1 fw-bolder">The Leading Alumni</h1>
                    <h1 class="text-dark fs-1 fw-bolder">Finding Website .</h1>
                    <p class="text-dark fs-5 writep">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatibus maxime ratione ducimus minus
                        facere cupiditate veritatis. Tempora, ipsam aut harum delectus et facilis magnam sed?</p>
                    <div class="d-lg-flex d-md-flex justify-content-evenly">
                        <div>
                            <p><img src="./images/house.png" alt=""> <a href="#"
                                    class="text-dark  text-decoration-none">Find University Alumni</a></p>
                        </div>
                        <div>
                            <p><img src="./images/house.png" alt=""> <a href="#"
                                    class="text-dark  text-decoration-none">Find University Alumni</a></p>
                        </div>
                    </div>
                    <div class="d-lg-flex d-md-flex justify-content-evenly">
                        <div>
                            <p><img src="./images/house.png" alt=""> <a href="#"
                                    class="text-dark  text-decoration-none">Find University Alumni</a></p>
                        </div>
                        <div>
                            <p><img src="./images/house.png" alt=""> <a href="#"
                                    class="text-dark  text-decoration-none">Find University Alumni</a></p>
                        </div>
                    </div><br>
                    <div class="d-flex justify-content-around lorem">
                        <p class="p-3">Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum
                            has been the industry's standard dummy</p>
                    </div>
                    <div class="text-lg-center text-md-center text-center pt-5">
                        <!-- <a href="find_alumni" class="service">Find Alumni</a> -->
                        <a href="index.html"><button type="button" href="find_alumni" class="service">Find
                                Alumni</button></a>
                    </div><br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my">
        <div class="container">
            <div class="row text-center">
                <h1 class="mt-5 fs-1 fw-bolder resent">Resent Event / Workshop</h1>
            </div>
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                    <div class="card rounded-4 " style="background-color: #3D2462;">
                        <img src="./images/Rectangle 18 (4).png" class="card-img-top pt-5 ps-5 pe-5" alt="...">
                        <div class="card-body text-center">
                            <h3 class="card-title text-light fw-bolder">Find Best Alumni Near me</h3>
                            <p class="card-text text-secondary fs-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Ut assumenda
                                labore, consectetur quos temporibus iusto et quod quam animi sint ullam eveniet
                                similique
                                praesentium iste aut aperiam nostrum laborum velit architecto quae blanditiis. Omnis
                                obcaecati natus facilis sapiente. Laudantium eaque sunt nobis? Incidunt alias atque
                                omnis.
                                Accusamus a saepe voluptatum?</p><br>
                            <a href="#" class="btn btn-light btn-lg ps-5 pe-5 fs-3 fw-bolder btn-outline-success">Go
                                somewhere</a><br><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                    <div class="card rounded-4 pic" style="background-color: #3D2462;">
                        <img src="./images/Rectangle 18 (1).png" class="card-img-top pt-5 ps-5 pe-5" alt="...">
                        <div class="card-body text-center">
                            <h3 class="card-title text-light fw-bolder">Find Best Alumni Near me</h3>
                            <p class="card-text text-secondary fs-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Ut assumenda
                                labore, consectetur quos temporibus iusto et quod quam animi sint ullam eveniet
                                similique
                                praesentium iste aut aperiam nostrum laborum velit architecto quae blanditiis. Omnis
                                obcaecati natus facilis sapiente. Laudantium eaque sunt nobis? Incidunt alias atque
                                omnis.
                                Accusamus a saepe voluptatum?</p><br>
                            <a href="#" class="btn btn-light btn-lg ps-5 pe-5 fs-3 fw-bolder btn-outline-success">Go
                                somewhere</a><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                    <div class="card rounded-4 pic" style="background-color: #3D2462;">
                        <img src="./images/Rectangle 18 (2).png" class="card-img-top pt-5 ps-5 pe-5" alt="...">
                        <div class="card-body text-center">
                            <h3 class="card-title text-light fw-bolder">Find Best Alumni Near me</h3>
                            <p class="card-text text-secondary fs-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Ut assumenda
                                labore, consectetur quos temporibus iusto et quod quam animi sint ullam eveniet
                                similique
                                praesentium iste aut aperiam nostrum laborum velit architecto quae blanditiis. Omnis
                                obcaecati natus facilis sapiente. Laudantium eaque sunt nobis? Incidunt alias atque
                                omnis.
                                Accusamus a saepe voluptatum?</p><br>
                            <a href="#" class="btn btn-light btn-lg ps-5 pe-5 fs-3 fw-bolder btn-outline-success">Go
                                somewhere</a><br><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                    <div class="card rounded-4 pic" style="background-color: #3D2462;">
                        <img src="./images/Rectangle 18 (3).png" class="card-img-top pt-5 ps-5 pe-5" alt="...">
                        <div class="card-body text-center">
                            <h3 class="card-title text-light fw-bolder">Find Best Alumni Near me</h3>
                            <p class="card-text text-secondary fs-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Ut assumenda
                                labore, consectetur quos temporibus iusto et quod quam animi sint ullam eveniet
                                similique
                                praesentium iste aut aperiam nostrum laborum velit architecto quae blanditiis. Omnis
                                obcaecati natus facilis sapiente. Laudantium eaque sunt nobis? Incidunt alias atque
                                omnis.
                                Accusamus a saepe voluptatum?</p><br>
                            <a href="#" class="btn btn-light btn-lg ps-5 pe-5 fs-3 fw-bolder btn-outline-success">Go
                                somewhere</a><br><br><br>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid carosolbg pt-5"><br><br>
        <div class="container">
            <div class="list-head text-center">
                <h1 class="fs-1 fw-bolder">Alumnai Student University List</h1>
            </div><br><br><br>
            <div class="university text-center">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner carousel-img">
                      <div class="carousel-item active ">
                        <img src="./images/DU.png" class="w-25" alt="...">
                        <img src="./images/03.png" class="w-25" alt="...">
                        <img src="./images/NSU.png" class="w-25" alt="...">
                      </div>
                      <div class="carousel-item justify-content-center">
                        <img src="./images/DU.png" class="w-25" alt="...">
                        <img src="./images/03.png" class="w-25" alt="...">
                        <img src="./images/NSU.png" class="w-25" alt="...">
                      </div>
                      <div class="carousel-item justify-content-center">
                        <img src="./images/DU.png" class="w-25" alt="...">
                        <img src="./images/03.png" class="w-25" alt="...">
                        <img src="./images/NSU.png" class="w-25" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <img src="./images/left.png" alt="">
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <img src="./images/rightt.png" alt="">
                    </button>
                  </div>
            </div>
            <!-- <div class="noteCard">
                <div class="row">
                    <div class="col-8">
                        <div class="cardText">
                            <h1>Looking for your university alumni?</h1>
                            <p>We can help you Find Alumni in your curret university</p>
                        </div>
                    </div>
                    <div class="col-4 btnCard">
                        <button class="cardButton" onclick="document.location='findAlumni.html'">Find Alumni <span class="arrImg">
                            <img src="./img/rightArrow.png" alt="">
                        </span></button>
                    </div>
                </div>
            </div> -->
        </div><br><br><br><br>
    </div>

    <div class="container-fluid footer">
        <div class="container">
            <div class="row d-flex justify-content-around ms-5 gx-5 pt-5">
                <div class="col-sm-8 col-md-6 mt-4 col-lg-3 text-lg-start text-sm-start text-md-start">
                    <div class="information">
                        <h6 class="footer-heading text-uppercase text-white fw-bold">Navigation</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li class="mb-1"><a href="index.html" class="text-white text-decoration-none fw-semibold">Home</a>
                            </li>
                            <li class="mb-1"><a href="find_alumni.html" class="text-white text-decoration-none fw-semibold">Find
                                    Alumni</a></li>
                            <li class="mb-1"><a href="Gallary.html" class="text-white text-decoration-none fw-semibold">Gallary</a></li>
                            <li class=""><a href="event.html" class="text-white text-decoration-none fw-semibold">Event</a></li>
                            <li class=""><a href="login.html" class="text-white text-decoration-none fw-semibold">Login</a></li>
                            <li class=""><a href="signup.html" class="text-white text-decoration-none fw-semibold">Signup</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 mt-4 col-lg-3 text-lg-start text-sm-start text-md-start">
                    <div class="information">
                        <h6 class="footer-heading text-uppercase text-white fw-bold">Whar We Do</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Encouraging
                                    Testing</a></li>
                            <li class="mb-1"><a href="#"
                                    class="text-white text-decoration-none fw-semibold">Strengthening Advocacy</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Sharing
                                    Information</a></li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Building
                                    Leadership</a></li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Engaging With
                                    Global Fund</a></li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Shining a
                                    Light</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 mt-4 col-lg-3 text-lg-start text-sm-start text-md-start">
                    <div class="information">
                        <h6 class="footer-heading text-uppercase text-white fw-bold">LEGAL</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">General
                                    Info</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Privacy
                                    Policy</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Terms of
                                    Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 mt-4 col-lg-3 text-lg-start text-sm-start text-md-start">
                    <div class="information">
                        <h6 class="footer-heading text-uppercase text-white fw-bold">TALK TO US</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li class="mb-1"><a href="#"
                                    class="text-white text-decoration-none fw-semibold">gradbond@gmail.com</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">+8801234567812</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Contact
                                    Us</a></li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Facebook</a>
                            </li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Linkedin</a>
                            </li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-8 col-md-8 col-lg-3 text-center text-sm-start">
                    <div class="information text-center pt-4">
                        <a href="index.html"><img src="./images/Group.png" alt="" class="p-3"></a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-5 text-center text-sm-start">
                    <div class="text-center text-light justify-content-center">
                        <p class="footp">© 2024 GradBond . All Rights Reserved. </p>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8  col-lg-3 text-center text-sm-start">
                    <div class="social pt-4">
                        <ul class="list-inline my-4 text-center">
                            <li class="list-inline-item"><a href="#"><i
                                        class="fa-brands fa-square-facebook fs-3 ms-4 text-light"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i
                                        class="fa-brands fa-linkedin fs-3 ms-4 text-light"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i
                                        class="fa-brands fa-square-twitter fs-3 ms-4 text-light"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>