.resent{
    color: #3D2462;
}
.my{
    /* background-color: #B051AA26; */
    background-color: #F3E5F2;
    margin-top: -8px;
}
.pic{
    background-color: #3D2462;
}
.footer{
    background-color: #3D2462;
}
.footp{
    margin-top: 50px;
}