.login {
    margin-top: -8px;

}
.main{
    background-color: rgb(35, 9, 57);
}

.bgcolor {
    background-color: rgb(35, 9, 57);
}

.my {
    width: 200px;
    height: 55px;
}
.or-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.or-separator::before,
.or-separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #8c8b8b;
}

.or-separator:not(:empty)::before {
    margin-right: .75em;
}

.or-separator:not(:empty)::after {
    margin-left: .75em;
}

.login-banner{
    justify-content: center;
    align-items: center;
}

input{
    padding-left: 20px;
}

.over {
    /* background-image: url('../images/Mask.png'); */
    background: url("/static/images/Mask.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-between;
    text-align: center;
    padding: 70px;
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    /* align-items: center; */
}
.head{
    margin-top: 270px;
}
.footer{
    background-color: #3D2462;
}
.footp{
    color: #e2dede;
    padding-top: 50px;
}
.size{
    width: 250px;
    height: 60px;
}
.box{
    width: 100%;
    height: 60px;
    border-radius: 10px;
}
.baton{
    width: 250px;
    height: 60px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
}
.baton:hover{
    background-color: rgb(153, 153, 12);
}
.batonn {
    width: 250px;
    height: 60px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    /* margin-left: 20%; */
}
.batonn:hover{
    background-color: rgb(153, 153, 12);
}
