{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- title  -->
    <title>{% block title %}Home | GradBond{% endblock %}</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/GradBondFavIcon.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block extra_css %}

    {% endblock %}

</head>

<body>
    <!-- Navbar part start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container p-2">
            <a href="{% url 'home' %}"><img src="{% static './images/Group.png' %}" alt=""></a>
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item me-5">
                        <a class="nav-link fs-5 fw-bolder" aria-current="page" href="{% url 'find-alumni' %}">Find
                            Alumni</a>
                    </li>
                    <!-- <li class="nav-item me-5">
                        <a class="nav-link fs-5 fw-bolder" aria-current="page" href="{% url 'gallery' %}">Gallary</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link me-5 fs-5 fw-bolder" aria-current="page" href="{% url 'events' %}">Events</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <button data-mdb-button-init data-mdb-ripple-init data-mdb-dropdown-init
                                class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-mdb-toggle="dropdown" aria-expanded="false">
                                Dashboard
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'signout' %}">Sign out</a></li>
                            </ul>
                        </div>
                        <!-- <a class="nav-link me-5 fs-5 fw-bolder" aria-current="page" href="{% url 'signin' %}">{{user.username}}</a> -->
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link me-5 fs-5 fw-bolder" aria-current="page" href="{% url 'signout' %}">Signout</a> -->
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link me-5 fs-5 fw-bolder" aria-current="page" href="{% url 'signin' %}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'signup' %}"><button type="button"
                                class="btn btn-danger btn-outline-warning fs-5 fw-bolder">Sign up</button></a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <!-- End navbar -->


    <!-- Error message start -->
    <div class="container" style="text-align: center;">
        {% if messages %}
        {% for message in messages%}
        <div class="alert alert-{{message.tags}}">
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <script>
        $(document).ready(function () { setTimeout(() => { $(".alert").alert("close"); }, 2500); });
    </script>
    <!-- Error message end -->

    {% block content %}

    {% endblock %}


    <!-- Start footer -->
    <div class="container-fluid footer">
        <div class="container">
            <div class="row d-flex justify-content-around ms-5 gx-5 pt-5">
                <div class="col-sm-8 col-md-6 mt-4 col-lg-3 text-lg-start text-sm-start text-md-start">
                    <div class="information">
                        <h6 class="footer-heading text-uppercase text-white fw-bold">Navigation</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li class="mb-1"><a href="{% url 'home' %}"
                                    class="text-white text-decoration-none fw-semibold">Home</a>
                            </li>
                            <li class="mb-1"><a href="{% url 'find-alumni' %}"
                                    class="text-white text-decoration-none fw-semibold">Find
                                    Alumni</a></li>
                            <!-- <li class="mb-1"><a href="{% url 'gallery' %}"
                                    class="text-white text-decoration-none fw-semibold">Gallary</a></li> -->
                            <li class=""><a href="{% url 'events' %}"
                                    class="text-white text-decoration-none fw-semibold">Event</a></li>
                            <li class=""><a href="{% url 'signin' %}"
                                    class="text-white text-decoration-none fw-semibold">Log in</a></li>
                            <li class=""><a href="{% url 'signup' %}"
                                    class="text-white text-decoration-none fw-semibold">Sign up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 mt-4 col-lg-3 text-lg-start text-sm-start text-md-start">
                    <div class="information">
                        <h6 class="footer-heading text-uppercase text-white fw-bold">What We Do</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Connect alumni and students</a></li>
                            <li class="mb-1"><a href="#"
                                    class="text-white text-decoration-none fw-semibold">Find alumni by university and job</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Explore alumni's educational journey</a></li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Discover current jobs of alumni</a></li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Attend alumni-hosted workshops and events</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-sm-8 col-md-6 mt-4 col-lg-3 text-lg-start text-sm-start text-md-start">
                    <div class="information">
                        <h6 class="footer-heading text-uppercase text-white fw-bold">LEGAL</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">General
                                    Info</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Privacy
                                    Policy</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Terms of
                                    Service</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-sm-8 col-md-6 mt-4 col-lg-3 text-lg-start text-sm-start text-md-start">
                    <div class="information">
                        <h6 class="footer-heading text-uppercase text-white fw-bold">TALK TO US</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li class="mb-1"><a href="#"
                                    class="text-white text-decoration-none fw-semibold">gradbond@gmail.com</a></li>
                            <li class="mb-1"><a href="#"
                                    class="text-white text-decoration-none fw-semibold">+8801234567812</a></li>
                            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Contact
                                    Us</a></li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Facebook</a>
                            </li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Linkedin</a>
                            </li>
                            <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-8 col-md-8 col-lg-3 text-center text-sm-start">
                    <div class="information text-center pt-4">
                        <a href="{% url 'home' %}"><img src="{% static './images/Group.png' %}" alt="" class="p-3"></a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-5 text-center text-sm-start">
                    <div class="text-center text-light justify-content-center">
                        <p class="footp">© 2024 GradBond . All Rights Reserved. </p>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8  col-lg-3 text-center text-sm-start">
                    <div class="social pt-4">
                        <ul class="list-inline my-4 text-center">
                            <li class="list-inline-item"><a href="#"><i
                                        class="fa-brands fa-square-facebook fs-3 ms-4 text-light"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i
                                        class="fa-brands fa-linkedin fs-3 ms-4 text-light"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i
                                        class="fa-brands fa-square-twitter fs-3 ms-4 text-light"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>